:host {
    .content {
        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        mat-horizontal-stepper.mat-elevation-z4.mat-stepper-horizontal.ng-tns-c35-6.mat-stepper-label-position-end {
            width: 80% !important;
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}
#about {
    width: 100% !important;
    .about-content {
        background-color: #f2f2f2 !important;
        max-width: unset !important;
        .general {
            .location {
                mat-icon {
                    line-height: 13px !important;
                }
            }
        }
    }

    .about-sidebar {
        padding-left: 32px;

        .friends {
            .content {
                .friend {
                    padding: 4px;

                    img {
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}

// Profile boxes
.profile-box {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;

    header {
        padding: 16px;

        .title {
            font-size: 17px;
        }

        .more {
            cursor: pointer;
        }
    }

    .content {
        padding: 16px;
    }

    footer {
        padding: 8px;
        border-top: 1px solid;
    }

    &.info-box {
        .info-line {
            margin-bottom: 24px;

            .title {
                font-size: 15px;
                font-weight: 600;
                padding-bottom: 4px;
            }

            .info {
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
